<h1>Classes to keep an eye on</h1>
{% if user.is_authenticated %}
    <h3>Hello {{user.username}}</h3>
    <a href="{% url 'classavails:search' %}">Search for classes</a>
    <hr>

    {% if choices_list %}
        <h3>Choices:</h3>
        <ul>
        {% for choice in choices_list %}
            <li>
                {{ choice.course.course }} taught by: {{ choice.course.instructor }}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>You haven't chosen any classes to keep an eye on</p>
    {% endif %}
    <hr>
    <form class="logout-link" action="{% url 'useraccounts:logout'%}" method="post">
        {% csrf_token%}
        <button type="submit">Logout</button>
    </form>

{% else %}
    <h3>You are not logged in, please <a href="{% url 'useraccounts:login'%}">log in</a> or <a href="{% url 'useraccounts:signup'%}">sign up</a></h3>
{% endif %}
