<h1>Hub</h1>
<form class="logout-link" action="{% url 'useraccounts:logout'%}" method="post">
    {% csrf_token%}
    <button type="submit">Logout</button>
</form>
{% if notes_list %}
    <ul>
    {% for note in notes_list %}
        <li>{{ note.note }}
            <span><a href="{% url 'classavails:update' note.id %}">edit</a></span>
            <span><a href="{% url 'classavails:delete' note.id %}">delete</a></span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You haven't written any notes</p>
{% endif %}
<a href="{% url 'classavails:create' %}">Create a new note</a>