{% extends 'classavails/base_layout.html' %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
<div class="container">
    <h1>Hub</h1>
    {% if user.is_authenticated %}
    <h3>Hello {{user.username}}!</h3>
    <hr>
    <div class="row">
        <div class="col-md-7 rounded" style="background-color:#bab86cff">
            <br>
            <b>Classes to keep an eye on:</b>
            <hr>
            {% if choices_list %}
            <ul>
                {% for choice in choices_list %}
                <div class="accordion" id="accordionExample{{choice.pk}}">
                    <div class="accordion-item">
                        <h6 class="accordion-header" id="headingSix{{choice.pk}}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo{{choice.pk}}" aria-expanded="false"
                                aria-controls="collapseTwo{{choice.pk}}">
                                {{ choice.course.course }} taught by: {{ choice.course.instructor }}
                            </button>
                        </h6>
                        <div id="collapseTwo{{choice.pk}}" class="accordion-collapse collapse"
                            aria-labelledby="headingTwo{{choice.pk}}" data-bs-parent="#accordionExample{{choice.pk}}">
                            <div class="accordion-body" style="background-color: rgb(177, 174, 92);">
                                CRN: {{ choice.course.CRN }} | Location: {{ choice.course.location }}
                                | Time: {{ choice.course.time }}
                                <div class="chart-container" style="position: relative; height:20vh; width:20vw">
                                    <canvas id="chart{{choice.pk}}"></canvas>
                                </div>
                                <script>
                                    var ctx = document.getElementById('chart{{choice.pk}}');
                                    var myChart = new Chart(ctx, {
                                        type: 'pie',
                                        data: {
                                            labels: ['Seats available', 'Seats taken'],
                                            datasets: [
                                                {
                                                    data: ['{{choice.course.seatsAvail}}', '{{choice.course.curEnrolled}}'],
                                                    backgroundColor: ['#D6E9C6', '#EBCCD1'],
                                                },
                                            ]
                                        },
                                        options: {
                                            maintainAspectRatio: false,
                                        },
                                    });
                                </script>
                                <span><a href="{% url 'classavails:deletechoice' choice.id %}">delete</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </ul>
            {% else %}
            <p>You haven't chosen any classes to keep an eye on</p>
            {% endif %}
            <a href="{% url 'classavails:search' %}">Find more classes</a>
        </div>

        <div class="col-md-1 rounded" style="background-color:#8a9a5bff">
        </div>

        <div class="col-md-4 rounded" style="background-color:rgb(233, 214, 159)">
            <br>
            <b>Notes</b>
            <hr>
            {% if notes_list %}
            <ul>
                {% for note in notes_list %}
                <li>{{ note.note }} by: {{ note.author }}
                    <br>
                    <span><a href="{% url 'classavails:update' note.id %}">edit</a></span>
                    <span><a href="{% url 'classavails:delete' note.id %}">delete</a></span>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>You haven't written any notes</p>
            {% endif %}
            <a href="{% url 'classavails:create' %}">Create a new note</a>
        </div>
    </div>
    <hr>

    {% else %}
    <h3>You are not logged in, please <a href="{% url 'useraccounts:login'%}">log in</a> or <a
            href="{% url 'useraccounts:signup'%}">sign up</a></h3>
    {% endif %}
</div>
{% endblock %}