<h1>Search for classes</h1>
<a href="{% url 'classavails:index' %}">Back to hub</a>
<hr>
<form method="GET">
    {{ filter.form }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>

{% if classavails_list %}
    <ul>
    {% for class in filter.qs %}
        <li>{{ class.CRN }}</li>
        <li>{{ class.course }}</li>
        <li>{{ class.title }}</li>
        <br>
        <hr>
        <br>
    {% endfor %}
    </ul>
{% else %}
    <p>You haven't chosen any classes</p>
{% endif %}